[flake8]
ignore = E266, F401, F403, E501, E731
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude =
    *migrations*
    urls.py

[pep8]
max_line_length = 180
exclude =
    *migrations*
    urls.py

[pycodestyle]
max_line_length = 180
exclude =
    *migrations*
    urls.py
